---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import LatestArticles from '../components/LatestArticles.astro';
import FeaturedWork from '../components/FeaturedWork.svelte';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const featuredProjects = await getCollection('featuredWork');
const limitedFeatured = featuredProjects.slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi there!</h1>
			<p>
				I'm a computer science student, and this is where I keep track of what I'm learning. You’ll find my projects, skills, notes, and other things I’ve picked up along the way. It's mostly for my own reference, but feel free to take a look around!
			</p>

			<FeaturedWork projects={limitedFeatured} limit={5} client:load />
			
			<LatestArticles />

			
		</main>
		<Footer />
	</body>
</html>
