---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import FeaturedWork from '../components/FeaturedWork.svelte';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const featuredProjects = await getCollection('featuredWork');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Work | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<FeaturedWork projects={featuredProjects} showSeeAll={false} client:load />
		</main>
		<Footer />
	</body>
</html>


